<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.16.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.16.min.css"
    rel="stylesheet" type="text/css">


		<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.js"></script>
		<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.16.min.js"></script>
		<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.16.min.js"></script>
		<script scr="https://cdn.plot.ly/plotly-latest.min.js"></script>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>



	 <meta charset="utf-8" />
	 <meta name="viewport" content="width=device-width, initial-scale=1" />
	 <link rel="stylesheet" href="static/assets/css/main.css" />
 </head>

<body>
<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="index.html"> Group C06 </a></div>
		<a href="#menu">Menu</a>
	</header>

	<!-- Nav Bar -->
		<nav id="menu">
			<ul class="links">
				<li><a href="index.html">Home</a></li>
				<li><a href="upload.html">Upload Data</a></li>
			</ul>
		</nav>

	<!-- wrapper -->
		<section id="One" class = "wrapper style3">
			<div class="inner">
				<header class="align-center">
					<p> Graphs </p>
				</header>
			</div>
		</section>

	<!-- Space for the Trees -->
	<section id="two" class="wrapper style2">
		<div class="inner">
			<div class="content">
				<header class="align-center">
					{{ script|safe }}
					{{ div|safe }}
					{{phylot|safe}}
				</header>
			</div>
		</div>
	</section>

	<!-- Scripts -->
		<script src="static/assets/js/jquery.min.js"></script>
		<script src="static/assets/js/jquery.scrollex.min.js"></script>
		<script src="static/assets/js/skel.min.js"></script>
		<script src="static/assets/js/util.js"></script>
		<script src="static/assets/js/main.js"></script>

</body>
</html>
