<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	 <title>Hielo by TEMPLATED</title>
	 <meta charset="utf-8" />
	 <meta name="viewport" content="width=device-width, initial-scale=1" />
	 <link rel="stylesheet" href="static/assets/css/main.css" />
 </head>

<body>
<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="index.html"> Group C06 </a></div>
		<a href="#menu">Menu</a>
	</header>

	<!-- Nav Bar -->
		<nav id="menu">
			<ul class="links">
				<li><a href="index.html">Home</a></li>
				<li><a href="upload.html">Upload Data</a></li>
			</ul>
		</nav>

	<!-- wrapper -->
		<section id="One" class = "wrapper style3">
			<div class="inner">
				<header class="align-center">
					<p> Graphs </p>
				</header>
			</div>
		</section>

	<!-- Space for the Trees -->

	
</body>
</html>
